body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.4px;
  color: #2e2f42;
}

.logo {
  color: #2e2f42;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.3125;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.web {
  color: #4d5ae5;
}

.item-nav {
  color: #2e2f42;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
}

.item-add {
  color: #434455;
  font-style: normal;
  line-height: 1.5;
}

.item-add:active,
.item-nav:active {
  color: #404bbf;
}

.hero-img {
  background: #2e2f42;
}

.main-title {
  color: #ffffff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 3.75; /* 107.143% */
  letter-spacing: 1.12px;
}

.button {
  background: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  color: #ffffff;
}

.button:hover {
  background: #404bbf;
}

.features-text {
  color: #434455;
  letter-spacing: 0.32px;
  line-height: 1.5;
}

.team {
  background: #f4f4fd;
}

h2 {
  color: #2e2f42;

  font-size: 36px;
  font-weight: 700;
  line-height: 2.5;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.team-card {
  background: #fff;
}

.card-text {
  color: #434455;
}

.project-card {
  border: 1px solid #e7e9fc;
  background: #fff;
}

footer {
  background: #2e2f42;
}
.footer-text {
  color: #f4f4fd;
}
.logo-2 {
  color: #f4f4fd;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.3125;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
